/* ===== Custom Scrollbar ===== */

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #64748b transparent; /* thumb | track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #64748b; /* slate-500 */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569; /* slate-600 */
}

/* Hero paralax */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* radial-gradient(
        circle at 10% 40%,

        /* AREA MATAHARI
        #fff7d5 0%,
        #fde68a 18%,
        #fbbf24 30%,

        /* TRANSISI
        #fb923c 42%,
        #ea580c 50%,

        /* BLUE HOUR
        #5b5aa6 65%,
        #3b3a73 75%,

        /* MALAM
        #2e2d4d 85%,
        #1f1e33 100%
      ) */

/* LANGIT */
.sky {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #0e0c44, #7c3aed, #c6c2f6);
    transition: background 1s ease;
}

/* BINTANG */
.stars {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(rgb(255, 255, 255) 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 1;
}

/* BULAN */
.moon {
    position: absolute;
    right: -30rem;
    top: -30rem;
    width: 80rem;
    height: 80rem;
    background-image: radial-gradient(
        rgba(255, 255, 255, 1) 5rem,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1),
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
    );
    border-radius: 50%;
}

/* GUNUNG */
.mountain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
}
/* .moon,
.mountain {
    will-change: transform;
} */

.back {
    z-index: 2;
}
.mid {
    z-index: 3;
}
.front {
    z-index: 4;
}

/* Hero paralax */
