/* ===== Custom Scrollbar ===== */

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #64748b transparent; /* thumb | track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #64748b; /* slate-500 */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569; /* slate-600 */
}
